{% extends "layout.html" %}

{% block topnav%}
<a class="active" href="{{ url_for('index') }}">Home</a>
<a class = "title">
    Topic: {{topic}}
</a>

{% endblock %}

{% block title %}
    {{topic}}
{% endblock %}

{% block body %}
    {% for article in articles%}

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card" style="width: 25vw">
                    <img class="card-img-top" src="{{article.urlToImage}}" alt="{{article.title}}"> <!-- save image of selected article-->
                    <div class="card-body">
                        <a class = "title" href="{{article.url}}" target="_blank">{{article.title}}</a>
                        <p class="card-text">{{article.description}}</p>
                        <a class=" asButton btn-primary" href="{{ url_for('choose_background', topic=topic, id=loop.index, picart=article.urlToImage) }}" role="button">Make Instagram Story</a>
                  </div>
                </div>
            </div>
        </div>

        <!-- <div class = "card">
            <img class="img-fluid" src="{{article.urlToImage}}" alt="{{article.title}}"/>
            <div class="container">
            <p>
                <a class = "title" href="{{article.url}}">{{article.title}}</a>
                <p>{{article.description}}</p>
                <a class="asButton" href="{{ url_for('show_picture', topic=topic, id=loop.index) }}" >Make Instagram Story</a>
            </p>
            </div>
        </div> -->
        <p></p>
    </div>


    {% endfor %}
{% endblock %}
