{% extends "layout.html" %}

{% block topnav%}
<a class="active" href="{{ url_for('index') }}">Home</a>
{% endblock %}

{% block title %}
   New Topic
{% endblock %}

{% block body %}

    <div class = "home">
        {% if message %}
        <p class = "message">{{ message }}</p>
        {% endif %}

        <form action="" method="post">
            <label class = "prompt" for="username">Turn a news article into an Instagram Story:</label>
            <p>
                <input type="text" name="topic" placeholder = "Search topic">
                <button type="submit"><i class="fa fa-search"></i>Search</button>
            </p>
        </form>
    </div>
{% endblock %}
