<!DOCTYPE html>
<link rel="stylesheet" type=text/css href="{{ url_for('static', filename='style.css') }}">
<title>{% block title %}{% endblock %} - Story2Insta </title>
 <div class = page>
     <div class = "topnav">
         {% block topnav %}
         <!--<a href="{{ url_for('index') }}">Home</a>-->
         {% endblock %}

         <form action="" method="post">
           <input type="text" name="topic" placeholder = "Search topic">
         </form>
     </div>

     {% block body %}
     {% endblock %}

 </div>
