{% extends "layout.html" %}

<title>
    {% block title %}
        Story Image
    {% endblock %}
</title>

{% block topnav%}
    <a href="{{ url_for('index') }}">Home</a>
{% endblock %}



<div>
    {% block body %}
        <img src="{{url_for('static', filename=picture)}}"width="500"/>
        <a href="{{url_for('static', filename=picture)}}" download="InstagramStory">
            <button class="btn"><i class="fa fa-download"></i> Download</button>
        </a>
    {% endblock %}
</div>

<!-- download hyperlink -->
<!-- <form method="get" action="{{url_for('static', filename=picture)}}">
    <button type="submit">Download!</button>
</form> -->